[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-reversion = "==3.0.3"
"beautifulsoup4" = "==4.3.2"
dj-database-url = "==0.3.0"
waitress = "==1.4.2"
whitenoise = "==1.0.6"
django-coverage = "==1.2.4"
Django = "==1.11.25"
factory_boy = "==2.4.1"
django-registration = "==2.5.2"
"bs4" = "*"
djangorestframework = "*"
django-crispy-forms = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
