Django>=1.7
django-crispy-forms==1.4.0
djangorestframework==3.0.2
django-reversion==1.8.5
requests==2.4.3
beautifulsoup4==4.3.2
psycopg2==2.5.4

# Heroku
dj-database-url==0.3.0
waitress==0.8.9
whitenoise==1.0.6

# Test utils
django-coverage==1.2.4
factory-boy==2.4.1
