<h2>List</h2>
{# @@ TODO Add relevant header #}

<table id="results" class="table table-striped table-hover table-bordered">

  {% for talk in object_list %}

  <tr class="media">
    <td class="col-lg-2 col-md-2">
          <a href="{{talk.pyvideo_source_url}}" target="_blank">
            <img class="img-responsive" src="{% if talk.youtube_thumbnail %}{{talk.youtube_thumbnail}}{% endif %}" alt="">
          </a>
    </td>

    <td class="media-body">

      <h4 class="media-heading">
        <a href="{% url "talks:talk_detail" slug=talk.slug %}">{{talk.title}}
          {% if talk.date_delivered %}<br><small>{{talk.date_delivered|date:"j-M-Y"}}</small>{% endif %}
        </a>
      </h4>

      {% if talk.pyvideo_source_url %}
      {# @@ TODO video link #}
      <div>Video link: <a href="{{talk.pyvideo_source_url}}" target="_blank">{{talk.pyvideo_source_url}}</a></div>{% endif %}

      {% if talk.event %}
      {# @@ TODO event link #}
      <div><a href="{{talk.event.get_absolute_url}}">{{talk.event}}</a></div>{% endif %}

      {% comment %}
      {% if talk.abstract %}{{talk.abstract}}{% endif %}
      {% if talk.speaker_bio %}{{talk.speaker_bio}}{% endif %}
      {% if talk.conference_url %}{{talk.conference_url}}{% endif %}
      {% endcomment %}
    </td>
  </tr>

  {% endfor %}

</table>
