{% extends 'lore/base.html' %}

{% block title %}
{{ talk }}
<div>
  <small>
      {# @@ TODO event link #}
      <a href="{% url "events:event_detail" slug=talk.event.slug %}">{{ talk.event }}</a>
      {% if talk.date_delivered %}({{talk.date_delivered|date:"j-M-Y"}}){% endif %}
  </small>
  {# @@ TODO CATEGORY #} {% if talk.categories.all %}{{talk.categories.all|join:", "}}{% endif %}
</div>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'talks:talk_list' %}">Talks</a></li>
{% endblock %}

{% block content %}

{% include 'lore/_detail.html' %}

{% endblock %}
