{% extends 'base.html' %}

{% block title %}
List of Events
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url "events:event_list" %}">Events</a></li>
{% endblock %}


        {% block content %}
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
              <p></p>
            </div>
        </div>
        <!-- /.row -->
        {% endblock %}

{% comment %}
{% block content %}

<table id="results" class="table table-striped table-hover table-bordered">
  {% for event in object_list %}
  <tr>
    <td>
      <a href="{{ event.get_absolute_url }}">{{ event }}</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
{% endcomment %}
